input[type="file"] {
    visibility: hidden;
}
/* #file{
    visibility: hidden;
} */

.image-preview {
    height: 5rem;
    margin: 1rem 0;
    /* border: solid; */
    width: 22vw;
    border: groove;
    margin: 2px;
    font-size: large;
    color: white;
    border-radius: 15px;
    padding: 3px;
}

.image-preview img {
    /* height: 100%; */
    width: 22vw;
    height: 18vw;
    object-fit: cover;
    border-radius: 15px;
}

.file-select {
    background: transparent;
    padding: 10px 14px;
    margin: 10px;
    border: 1px solid steelblue;
    border-radius: 20px;
    cursor: pointer;
    /* &:hover {
        background: tan;
    } */
}

[type="submit"] {
    background: transparent;
    padding: 10px 14px;
    margin: 10px;
    border: 1px solid green;
    border-radius: 20px;
    cursor: pointer;
    /* &:hover {
        background: lightseagreen;
    } */
}